
<div class="container">
    <div class="item" >
        <h2 class="logo"> </h2>
        <div class="text-item">
            <img class="bg" [src]="myImage">    
        </div>
        
    </div>
    <div class="login-section">
        <div class="form-box login">
            
            <form action="" autocomplete="off">
                <h2><b><i> Hello, Again!</i></b></h2>
                <h6>We are happy to have you back</h6>
                    <div class="input-box">
                        
                         <input type="text" id="email"  required > 
                        
                         <label >Email*  <fa-icon [icon]="faAt" style="color:#fa9416; padding-left: 310px;" ></fa-icon> </label>
                        
                    </div>


                <div class="input-box">
                    <input type="password" required>
                    <label >Password*  <fa-icon [icon]="faLock" style="color:#fa9416; padding-left: 310px;" ></fa-icon></label>
                </div>
                <div class="remember-password">
                    <label for=""> <br><input type="checkbox" > Remember Me</label>
                    <a href="#" > Forget Password ?</a>
                </div>
                <button class="btn"> Login</button>
                <div class="create-account">
                    <p>Don't have an account? <a href="#" class="register-link"><u> Sign up</u></a></p>
                    
                </div>

            </form>            
        </div>
    </div>
   
</div>