<div class="container">
    <div class="item" >
        <h2 class="logo"> </h2>
        <div class="text-item">
            <img class="bg" [src]="myImage">    
            <div class="social-icon">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="bx bxl-twitter"></i></a>
                <a href="#"><i class="bx bxl-instagram"></i></a>
                <a href="#"><i class="bx bxl-linkedin"></i></a>
            </div>

        </div>
        
    </div>
    <div class="login-section">
        <div class="form-box login">
            
            <form action="" autocomplete="off">
                <h2><b><i> Sign Up, Now!</i></b></h2>
                <h6>We are happy to have you with us</h6>

                <div class="input-box">
                     <input type="text" id="name"  required>
                     <label >Fullname* <fa-icon [icon]="faUser" style="color:#fa9416; padding-left: 310px;" ></fa-icon> </label>
                </div>
                
                <div class="input-box">
                    <input type="text" required>
                    <label >Email*   <fa-icon [icon]="faAt" style="color:#fa9416; padding-left: 310px;" ></fa-icon></label>
                </div>

                <div class="input-box">
                    <input type="password" required>
                    <label >Password* <fa-icon [icon]="faLock" style="color:#fa9416; padding-left: 310px;" ></fa-icon></label>
                </div>
                
                <div class="input-box">
                    <input type="password" required>
                    <label >Confirm Password* <fa-icon [icon]="faCheck" style="color:#fa9416; padding-left: 310px;" ></fa-icon> </label>
                </div>
                <button class="btn"> Sign Up</button>

            </form>            
        </div>
    </div>
   
</div>


<!--<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                
                <div class="text">
                    <p><i>JOIN</i></p>

                </div>
            </div>
            <div class="col-md-6 right"> 
                <div class="input-box">
                    <header>Create account</header>
                    <div class="input-field">
                        <input type="text" class="input" id="email" required autocomplete="off"> 
                        <label for="email"> E-mail</label>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="password" required > 
                        <label for="password"> Password</label>
                    </div>
                    <div class="input-field">
                        <input type="submit" class="submit" value="Sign Up"> 
                    </div>
                    <div class="signin">
                        <span>Already have an account ?<a href="#"> Log in here </a></span> </div>
                     
                     
                </div>

            </div>
            
        </div>

    </div> 

</div>-->
