<div class="container">
    <div class="header">
        <div class="logo"> Logo </div>
        <div class="user"> 
            <div class="user-name"> Surender</div>
            <div class="user-image"> SN</div>
        </div>
    </div>
    <div class="main-container">
        <div class="side-nav">


            <ul>
                <li><fa-icon [icon]="faDashboard"></fa-icon>     Smart Meters  </li>
                <li><fa-icon [icon]="faChartBar"></fa-icon>      Statistics   </li>
                <li><fa-icon [icon]="faAdd"></fa-icon>           Add Meter </li>
                <li><fa-icon [icon]="faHand"></fa-icon>          Help</li>
                <li><fa-icon [icon]="faSignOut"></fa-icon>       Logout</li>

        </ul>
        </div>     
            <div class="main-title">
                <p class="dash" ><b>DASHBOARD</b></p> 
            </div>

            <div class="main-cards">
                <div class="card">
                    <div class="card-inner">
                        <p  ><i>CONSOMMATION</i></p>
                        <fa-icon [icon]="faChartPie" style="color:#246dec; font-size: 30px ; margin-top: -10px;" ></fa-icon>
                    </div>
                    <span><i>50</i></span> 
                </div>

            <div class="card">
                <div class="card-inner">
                    <p ><i> TOTAL  METERS</i></p>
                    <fa-icon [icon]="faListSquares" style="color:#f5b74f; font-size: 30px ; margin-top: -10px;" ></fa-icon>
                    </div>
                    <span ><i>10</i></span> 
                </div>

            <div class="card">
                <div class="card-inner">
                    <p><i>INVENTORY  ALERTS</i></p>
                    <fa-icon [icon]="faBell" style="color:#367952; font-size: 30px ;margin-top: -10px;" ></fa-icon>
                </div>
                <span > <i>3</i></span> 
            </div>

            </div>

           

</div>

</div>